fastapi
uvicorn
transformers
datasets[audio]
accelerate
torch
fastapi[standard]
ffmpeg-python
git+https://github.com/openai/whisper.git
librosa
sentencepiece
openai
python-dotenv
python-multipart
soundfile
pypdf
pdfplumber
reportlab